img {
  width: 100%;
}

* {
  box-sizing: border-box;
}

.articles {
  margin: 2rem;
  max-width: 100%;
  border: solid;
}

.articles p {
  margin: 2rem;
  max-width: 100%;
}

.articles h3 {
  margin: 2rem;
}

footer {
  border: solid;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 1rem;
}
